@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
     background-color: #598eff;
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     flex-direction:column;
     justify-content: center;
     color: rgb(78, 78, 78);
     font-size: 16px;
 }
 
 /* 버튼 기본 스타일링 */
button {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(78, 78, 78);
}

/* 링크 기본 스타일링 */
a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

/* 리스트 기본 스타일링 */
 ul {
     padding: 0;
     margin: 0;
     list-style: none;
 }
 
img {
	width: 150px; 
	height: 150px;
}

input {
    padding-left:10px;
    border:none;
    border-bottom: 1px solid lightgray;
    text-align:center;
}
    
input:focus {
    outline:none;
}
    
.menu_container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 550px;
    width: 900px;
}

.menu__list {
	margin-top: 60px;
	height:450px;
	text-overflow:hidden;
	overflow-x:auto;
}

.menu__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white; 
    z-index: 999; 
    position: fixed;
}

.menu__category  a {
    margin-left: 15px;
}

.menu__add {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.inner_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-left: 10%;
}

/* ::-webkit-scrollbar {
    display: none;
}
 */

.circle-btn {
	background-color: #598eff;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 4px 6px 11px rgba(172, 172, 172, 0.699);
	margin-bottom: 10px;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    left: 100%;
    padding: 0;
}
    
.aside > button {
    border: 1px solid lightgray;
    border-bottom: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.aside > button:first-child {
    border-top: none;
}

.aside button:nth-child(2) {
    color: #598eff;
    border-left: none;
}
    
.menu__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white; 
    z-index: 999; 
    position: absolute;
    top:0;
    width: 60%;
}

.menu__category  a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(78, 78, 78);
}

#categories {
    display: flex;
    margin: 0;
    padding-left:0;
}

#category {
	width: 30%;
	border: 2px solid #598eff;
	border-radius: 5px;
	text-align: center;
	color: gray;
	display: inline-block;
	margin:20px;
}


#menuAddForm {
	text-align: center;
	margin-top: 20px;
}

#menuAddForm > input {
	margin-bottom: 10px;
}

.menu__add-modal {
	text-align: center;
}

.starIcon {
    color: rgb(253, 197, 14);
}

.card {
    border: none;
    box-shadow: 4px 6px 11px rgba(172, 172, 172, 0.699);
    max-width: 450px; 
    height: 220px; 
    margin-top: 20px;
    display:flex;
    align-items:center;
}

.submitBtn {
	background-color: white;
    color: #598eff;
    box-shadow: 1px 1px 11px rgba(172, 172, 172, 0.699);
	border-radius: 5px;
    width: 50%;
    font-weight: 600;
	margin: 20px 0;
}

.deleteBtn {
	font-size:14px;
}

.deleteBtn:hover {
	color: #d60000;
	font-weight:600;
}


.card-text {
	font-size:14px;
	display:block;
	margin-bottom:10px;
}

.card-body {
	width: 200px;
	margin: 20px;
}

	/* 테블릿 세로 (해상도 768px ~ 1023px)*/

@media screen and (max-width:1024px) {
	
	.menu_container {
		height: 80%;
		width: 95%;
		position:relative;
		padding-bottom: 10px;
		font-weight:500;
	}

	.aside {
		display:flex;
		flex-direction: row;
		width:100%;
		position: absolute;
		top: 0;
		left:0;
		height:auto;
	}
	
	.aside > button {
   		border-radius: 5px;
   		font-weight: 700;
		width: 20%;
		height: 10vh;
		border: 1px solid lightgray;
	}
	
	.aside > button:nth-child(2) {
		border: none;	
	}
	
	.inner_container {
		margin-top: 0px;
		margin-left: 0px;
		justify-content: center;
	}
	
	.menu__category {
		bottom: 0px;
		top:auto;
	}
	
	.menu__list {
		height: 600px;
		margin-top:50;
	}
}

		/* 모바일 가로, 세로 */

@media screen and (max-width:767px) {
	
	body {
		height: auto;
	}
	
	.menu_container {
		height: 80%;
		width: 100%;
		flex-direction: column;
		text-overflow: hidden; 
   		overflow-x: auto;
	}

	.aside {
		display:none;
	}
	
	.inner_container {
		flex-direction:column;
		margin-top: 0;
	}
	
	.navbarTwo {
		margin-top: 30px;
	}
	
	.card {
		width:80%;
		height:auto;
	}
	
	.card-body {
		margin: 0;
		width: auto;
	}
	
	.menu__category {
		bottom: auto;
		top:0;
		width: 100%;
	}
	
	.menu__list {
		text-align:center;
		margin-left:10px;
	}
	
	.card_img {
		margin-bottom:10px;
	}
}

