@charset "UTF-8";


* {
    box-sizing: border-box;
}

body {
    background-color: #598eff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 78);
}

/* 버튼 기본 스타일링 */
button {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(78, 78, 78);
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
    border: none;
}

select:focus {
    outline: none;
}

/* 리스트 기본 스타일링 */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.display-box {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
	text-overflow: hidden; 
	overflow-x: auto
}

::-webkit-scrollbar {
    display: none;
}

.seat,
.select {
    background-color: white;
    height: 400px;
    width: 50%;
}

.select {
    padding-right: 0px;
}

.seat__box {
    background-color: rgb(243, 243, 243);
    height: 60%;
    width: 100%;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
}

.seat-title {
    color: gray;
}

.select-title {
    display: flex;
    justify-content: space-around;
}

.select-title > p {
    margin-bottom: 5px;
}

.myStore_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    height: 550px;
   	width: 900px;
}

.myStore_container_inner {
	display: flex; 
	flex-direction: column; 
	padding: 20px 30px; 
	width: 100%;
} 

.inner_container {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
}

.reserve-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    align-items: flex-start; 
}

.reserve-info {
    padding: 10px;
    font-size: 14px;
}

.reserve-info > strong {
    margin-left: 30px;
}

#updateForm {
	width:40%;
	height:7%;
	margin-top:20px;
}

#content {
	margin: 0 auto;
	resize: none;
	width: 100%;
}

#totalSeat {
	width: 30%;
	text-align: center;
	border: none;
	border-bottom: 3px solid lightgray; 
	font-size: 14px;
}

.submit-btn {
    color: #598eff;
    box-shadow: 1px 1px 11px rgba(172, 172, 172, 0.699);
    width: 100%;
	height: 100%;
    border-radius: 20px;
    font-weight: 600;
}

.line {
    height: 1.5px;
    background-color: lightgray;
    width: 100%;
    margin-bottom: 5px;
}

.box {
    border: 1px solid gray;
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-weight: 600;
}

.seat__select {
    display: flex;
    justify-content: flex-end;
}

#seat__select-box {
    margin-left: 10px;
    width: 60px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 15px;
}

.seat-NumState {
    display: flex;
    flex-direction:column;
}

.useState {
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 14px;
    height: 30px;
}
.seat-NumState > div > p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.seat-NumState > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    left: 100%;
    padding: 0;
}

.aside > button {
    border: 1px solid #ECECEC;
    background-color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ECECEC;
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.aside button:nth-child(5) {
    background-color: white;
    color: #598eff;
    border-left: none;
}

#imageForm1 {
		height: 90px;
	
}


	/* 테블릿 */

@media screen and (max-width:1024px) {
	
	.myStore_container {
		height: 80%;
		width: 95%;
		position:relative;
		justify-content:center;
	}

	.aside {
		display:flex;
		flex-direction: row;
		width:100%;
		position: absolute;
		top: 0;
		left:0;
		height: auto;
	}
	
	.aside > button {
   		border-radius: 5px;
   		font-weight: 700;
		width: 20%;
		height: 10vh;
		border: 1px solid lightgray;
	}
	
	.aside > button:last-child {
		border: none;		
	}

	.display-box {
		margin-top: 150px;
	}
	
	#updateForm {
		margin-bottom: 30px;
	}
}

	/* 모바일 가로 */

@media screen and (max-width:767px) {
	
	.myStore_container {
		height: 80%;
		width: 100%;
		flex-direction: column;
		text-overflow: hidden; 
   		overflow-x: auto;
	}
	.myStore_container_inner {
		height: 100%;
		padding: 20px 0px;
	}
	
	.display-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top:0;
		height:100%;
	}

	.aside {
		display:none;
	}
	
	.inner_container {
		flex-direction:column;
		margin-top: 0;
	}
	
	.navbarTwo {
		margin-top: 30px;
	}	
	
	.seat__box {
		height: 40%;
	}
	
	.seat {
		flex-shrink: 0;
	}
	.select {
		height: 40%;
		width: 60%;
	}
	
	#content {
		width: 100%;
	}
}