@charset "UTF-8";


/* ----------- 기본 설정 ------------- */


* {
    box-sizing: border-box;
}

body {
    background-color: #598eff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    color: rgb(78, 78, 78);
    font-size: 16px;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(78, 78, 78);
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%; 
    height: 100%;
}

/* ---------- 카드 내부 요소 ------------- */


small {
    color: lightgray;
}

.img__wrapper {
    width: 50%;
}


.fiveStar {
    margin-bottom: 10px;
    color: rgb(253, 197, 14);
}

.edit-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    font-size: 14px;
}


/* ------------ 스크롤 ------------- */


.scroll-zone {
	width: 80%;
	text-overflow: hidden; 
	overflow-x: auto
}

::-webkit-scrollbar {
    display: none;
}


/* ---------- 사이드 탭 ------------- */

.aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    left: 100%;
    padding: 0;
}
    
.aside > button {
    border: 1px solid lightgray;
    border-bottom: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.aside > button:first-child {
    border-top: none;
}

.aside button:nth-child(3) {
    color: #598eff;
    border-left: none;
}


/* -----------유저 리뷰------------- */

.user-review {
    min-width: 280px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.user-review__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.user-review__text > button {
   font-weight: 500;
   display: flex;
   justify-content: flex-end;
}

.user-review__reply {
    font-weight: 500;
    font-size: 15px;
}

.arrow_box-user {
	position: relative;
	background: #ffffff;
	border: 1px solid #c7c7c7;
}

.arrow_box-user:after, 
.arrow_box-user:before {
	right: 100%;
	top: 50%;
	border: solid 1px lightgray;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box-user:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 30px;
	margin-top: -30px;
}

.arrow_box-user:before {
	border-color: rgba(199, 199, 199, 0);
	border-right-color: #c7c7c7;
	border-width: 31px;
	margin-top: -31px;
}

/* ----------오너 & 유저 리뷰------------- */

.user-review__body,
.owner-review__body {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.user-review__text,
.owner-review__text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    width: 270px;
    height: auto;
}

/* ----------오너 리뷰------------- */

.arrow_box-owner {
	position: relative;
	background: #d4d4d4;
}

.arrow_box-owner:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(212, 212, 212, 0);
	border-left-color: #d4d4d4;
	border-width: 30px;
	margin-top: -30px;
}

.owner-review {
    width: 70%;
    margin-left: 20%;
    margin-bottom: 40px;
}

.owner-review__title {
    margin-top: 15px;
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
}

.owner-review__body {
    border:none;
    flex-direction: column;
    padding: 0 10px;
}

.owner-review__text {
    padding-top: 0;
    height: 150px;
}

.owner-review__text > strong {
	font-size: 20px;
	font-weight: 600;
	text-align: start;
}

.owner-review__text > textarea {
    background-color: #d4d4d4;
    border: none;
    width: 100%;
    resize: none;
    height: 150px;
}

.owner-review__text > textarea:focus {
    outline: none;
}

.ownerComment {
	text-align: start;
	margin-left: 20px;
	margin-top: 10px;
}


/* ------------- 정렬 컨테이너 요소 ------------- */


.display-box {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    height: 90%;
    width: 100%;
}

.myStore_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    height: 550px;
   	width: 900px;
}

.myStore_container_inner {
	display: flex; 
	flex-direction: column; 
	padding: 20px 0px; 
	width: 750px;
}

.review_container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 550px;
    width: 900px;
}

.inner_container {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    height: 100%;
}


/* --------------------- 미디어쿼리 (반응형 브레이크포인트) ------------------- */


/* 테블릿 세로 */

@media screen and (max-width:1024px) {
	
	.myStore_container {
		height: 80%;
		width: 95%;
		position:relative;
		font-weight:500;
		justify-content:center;
		
	}

	.aside {
		display:flex;
		flex-direction: row;
		width:100%;
		position: absolute;
		top: 0;
		left:0;
		height:auto;
	}
	
	.aside > button {
   		border-radius: 5px;
   		font-weight: 700;
		width: 20%;
		height: 10vh;
		border: 1px solid lightgray;
	}
	
	.aside > button:nth-child(3) {
		border: none;	
	}
	
	.display-box {
		height:100%;
		margin-top:100px;
	}
	
	.inner_container {
		text-overflow: hidden; 
		overflow-x: auto
	}
}

/* 모바일 가로, 세로 */

@media screen and (max-width:767px) {

	.display-box {
		margin-top: 50px;
		width: 100%;
		justify-content: center;
	}
	
	.scroll-zone {
		width: 90%;
	}
	
	.user-review {
		width: auto;
		margin-left:40px;
		margin-right:10px;	
	}
	
	.owner-review__text {
		width:100%;
	}
	
	.ownerComment {
		width:100%;
	}
	
	.Store_container {
		height: 80%;
		width: 100%;
		flex-direction: column;
		text-overflow: hidden; 
   		overflow-x: auto;
	}

	.aside {
		display:none;
	}
	
	.inner_container {
		flex-direction:column;
		margin-top: 0;
	}
	
	.navbarTwo {
		margin-top: 30px;
	}
}
