<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store">
	<!-- 해당 매장의 메뉴 정보를 추가하는 method -->
	<insert id="addMenu" parameterType="menuDto">
		insert into storeMenu
		(num, storeName, menuImage, menuName, content, price, best)
		values(storeMenu_seq.nextval, #{storeName}, #{menuImage}, #{menuName}, #{content}, #{price}, 'no')
	</insert>
	
	<!-- 해당 매장의 메뉴 정보를 가져오는 method (사장님)-->
	<select id="getMenuList" parameterType="storeDto" resultType="menuDto">
		select *
		from storeMenu
		inner join store
		on store.storeName=storeMenu.storeName
		where store.owner=#{owner} and store.storeName=#{storeName}
	</select>
	
	<!-- 해당 매장의 메뉴 정보를 가져오는 method (유저)-->
	<select id="getMenuList_user" parameterType="storeDto" resultType="menuDto">
		select *
		from storeMenu
		inner join store
		on store.storeName=storeMenu.storeName
		where store.num=#{num}
	</select>
	
	<!-- 해당 매장의 메뉴 정보를 삭제하는 method -->
	<delete id="deleteMenu" parameterType="menuDto">
		delete from storeMenu
		where num=#{num}
	</delete>
</mapper>
