<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	
	<select id="getOrderList" parameterType="orderDto" resultType="orderDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT orderNum, email, storeName, storeLogo, num, tableNum, menu, menuCount, price, amount, regdate
				FROM order_
				WHERE email = #{email }
				GROUP BY orderNum, email, storeName, storeLogo, num, tableNum, menu, menuCount, price, amount, regdate
				ORDER BY orderNum DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getListOne" parameterType="string" resultType="orderDto">
		SELECT *
		FROM order_
		WHERE orderNum = #{orderNum }
	</select>
	
	<select id="getCount" parameterType="string" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM order_
		WHERE email= #{email }
	</select>
	
	<insert id="insertOrder" parameterType="orderDto">
		INSERT INTO order_
		(orderNum, email, storeName, storeLogo, num, tableNum, menu, menuCount, price, amount, regdate)
		VALUES(#{orderNum },#{email }, #{storeName }, #{storeLogo }, #{num }, #{tableNum }, #{menu }, #{menuCount }, #{price }, #{amount }, SYSDATE)
	</insert>

	<delete id="deleteOrder" parameterType="int">
		DELETE FROM order_
		WHERE orderNum=#{orderNum}
	</delete>
	
</mapper>