<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert" parameterType="usersDto">
		INSERT INTO seat_users
		(name, email, pwd, tag, phoneNumber, regdate)
		VALUES(#{name },#{email }, #{pwd }, #{tag }, #{phoneNumber }, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT name, email, tag, profile, regdate
		FROM seat_users
		WHERE email=#{email }
	</select>
	
	<update id="pwdUpdate" parameterType="usersDto">
		UPDATE seat_users
		SET pwd=#{newPwd }
		WHERE email=#{email }
	</update>
	
	<update id="update" parameterType="usersDto">
		UPDATE seat_users
		SET tag=#{tag }, profile=#{profile }, phoneNumber=#{phoneNumber }
		WHERE email=#{email }
	</update>
	
	<delete id="delete" parameterType="string">
		DELETE FROM seat_users
		WHERE email=#{email}
	</delete>
</mapper>